{{!-- <div class="container">
  <div class="row">
    <div class="col-md-3">
      <center>
        <h2>Create Account</h2>
      </center>
      <form action="/signup" method="post">
        <div class="form-group">
          <label for="text">Name</label>
          <input type="text" class="form-control" id="textinput" name="name" aria-describedby="textHelp"
            placeholder="Enter name">

        </div>
        <div class="form-group">
          <label for="exampleInputEmail1">Email address</label>
          <input type="email" class="form-control" id="exampleInputEmail1" name="email" aria-describedby="emailHelp"
            placeholder="Enter email">

        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Password</label>
          <input type="password" class="form-control" id="exampleInputPassword1" name="password" placeholder="Password">
        </div>
        <a href="/login">Already have a Account</a>
        <button type="submit" class="btn btn-primary">Sign up</button>
      </form>
    </div>
  </div>
</div> --}}
<section>
  <div class="container d-flex justify-content-center">
    <div class="row my-5">
        <div class="col-md-6 text-left text-white lcol">
            <div class="greeting">
                <h3>Welcome to <span class="txt">E cart</span></h3>
            </div>
            <h6 class="mt-3">let's light some fire and get the show on the road...</h6>
            <div class="footer">
                <div class="socials d-flex flex-row justify-content-between text-white">
                    <div class="d-flex flex-row"><i class="fab fa-linkedin-in"></i><i class="fab fa-facebook-f"></i><i class="fab fa-twitter"></i></div> <span>Privacy Policy</span> <span>&copy; 2020 Stoke</span>
                </div>
            </div>
        </div>
        <div class="col-md-6 rcol">
            <form class="sign-up" action="/signup" method="POST">
                <h2 class="heading mb-4">Sign up</h2>
                <div class="form-group fone mt-2"> <i class="fas fa-user"></i> <input type="name" name="name" class="form-control" placeholder="Name"> </div>
                <div class="form-group fone mt-2"> <i class="fas fa-envelope"></i> <input type="email" name="email" class="form-control" placeholder="Work email"> </div>
                <div class="form-group fone mt-2"> <i class="fas fa-lock"></i> <input type="password" name="password" class="form-control" placeholder="Password">
                    <div class="image"><i class="fas fa-eye"></i></div>
               
                 
                 </div> <input type="checkbox" class="form-check-input ml-0" id="exampleCheck1"> <label class="form-check-label ml-3" for="exampleCheck1">I agree to Stoke <u>Terms</u> and <u>Privacy Policy</u></label>
            <button type="submit" class="btn btn-success mt-5">Register</button>
            </form>
        <a href="/login">   <p class="exist mt-4">Existing user? <span>Log in</span></p></a> 
        </div>
    </div>
</div>
</section>
<style>
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

body {
    background: #E1EBEC;
    font-family: 'Poppins', sans-serif
}

.row {
    width: 900px;
    border: none;
    border-radius: 0;
    box-sizing: border-box
}

.lcol {
    background: linear-gradient(to bottom, rgba(26, 111, 118, 1) 50%, rgba(40, 30, 101, 1) 100%, rgba(125, 185, 232, 1) 100%);
    height: 550px;
    padding: 0 35px
}

.rcol {
    background: #fff;
    padding: 80px;
    height: 550px
}

span.txt {
    color: #17C296
}

.greeting {
    padding-top: 200px;
    padding-right: 90px
}

h6.mt-3 {
    padding-right: 115px
}

.footer {
    margin-top: 220px
}

.footer span {
    color: #B0A1E2;
    font-size: 9px;
    cursor: pointer
}

.fab {
    color: #EDEDF5;
    font-size: 10px;
    margin-right: 20px;
    padding-top: 3px;
    cursor: pointer
}

h2.heading {
    font-weight: bold
}

.form-control {
    border: none;
    border-radius: 0px;
    border-bottom: 1px solid #F2F2F2
}

.form-control::placeholder {
    font-size: 13px;
    color: #C2C2CC
}

.form-control:focus {
    box-shadow: none;
    border-bottom: 1px solid #F2F2F2
}

.fone input {
    padding-left: 20px
}

.fone {
    position: relative
}

.fone .fas {
    position: absolute;
    left: 0;
    top: 5px;
    padding: 8px 0px;
    color: #C2C2CC;
    font-size: 12px
}

.fone .image {
    position: absolute;
    left: 275px;
    top: 0px;
    cursor: pointer
}

.form-check-input {
    margin-top: 10px
}

.form-check-label {
    font-size: 9px;
    color: #C2C2CC
}

.btn-success {
    padding: 7px 40px;
    background: #11C892;
    border: none;
    border-radius: 30px;
    font-size: 9px
}

.btn-success:hover {
    background: #11C892
}

.btn-success:focus {
    box-shadow: none
}

u {
    cursor: pointer
}

p.exist {
    font-size: 9px;
    color: #C2C2CC
}

p.exist span {
    cursor: pointer;
    color: #ABA5D3
}

@media screen and (max-width: 993px) {
    .fone .image {
        position: absolute;
        left: 180px
    }

    .footer {
        margin-top: 170px
    }
}

@media screen and (max-width: 768px) {
    .row {
        width: 450px
    }

    .rcol {
        padding: 60px 180px 60px 60px
    }
}

@media screen and (max-width: 420px) {
    .rcol {
        padding: 60px 50px 60px 50px
    }

    .footer {
        margin-top: 140px
    }
}
</style>